{% extends 'base.html' %}
<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
{% block content %}

<div class="mx-auto my-10 grid max-w-screen-xl gap-y-8 sm:grid-cols-2 lg:grid-cols-3">
    {% for room in rooms %}
    <div class="group cursor mx-4 overflow-hidden rounded-2xl bg-white shadow-xl duration-200 hover:-translate-y-4">
      <div class="flex h-60 flex-col justify-between overflow-hidden">
        <img src="{{room.room_image.url}}" />
      </div>
      <div class="flex-1 overflow-hidden bg-white px-6 py-8">
        <h5 class="group-hover:text-indigo-600 mb-4 text-xl font-bold">{{room.room_name}}</h5>
        <p class="mb-8 text-gray-600">Cras ultricies ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
        <div class="flex justify-between">
          {% if request.user in room.members.all %}
            <a href="#" class="group text-lg font-bold focus:text-indigo-600 hover:text-indigo-600">
              <span>▷</span>
              <span class="underline">Leave Team</span>
            </a>
          {% else %}
            <a href="{% url 'team' room.slug  %}" class="group text-lg font-bold focus:text-indigo-600 hover:text-indigo-600">
              <span>▷</span>
              <span class="underline">Join Team {{request.user}}</span><br/>
              <span class="underline">{{ rooms.room}}</span>
            </a>
          {% endif %}

          {% if request.user in group.members.all%}
            <a href="#" class="group text-lg font-bold focus:text-indigo-600 hover:text-indigo-600">
              <span>▷</span>
              <span class="underline">Open Team</span>
            </a>

          {% endif %}

          <!-- <div class="max-w-full flex-none lg:px-4">
            <h5 class="text-lg font-bold">Video 6</h5>
          </div> -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
   

{% endblock %}